name: "audit-dependency"

on:
  pull_request:
    # The branches below must be a subset of the branches above
    branches:
      - develop

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Audit Dependency
        run: |
          npm audit